<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Topics</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .topic-box {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
        }
        .topic-title {
            margin-right: 10px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="mt-5">Topics</h1>

    <div th:each="topic : ${topics}" class="topic-box" >
        <div class="topic-title" th:text="${topic.title}"></div>
        <a class="btn btn-primary" th:href="@{'/topic/' + ${topic.title}}">Select</a>
    </div>

    <div class="text-center mt-5">
        <a href="/upload" class="btn btn-primary btn-lg">Add new</a>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>